DATABASE_URL=postgresql://user:password@host:5432/dbname
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

INFOSIMPLES_TOKEN=your_token
INFOSIMPLES_CRYPTO_KEY=your_crypto_key
INFOSIMPLES_INFRACTIONS_URL=url
INFOSIMPLES_DETAILS_URL=url

GOV_CPF=your_cpf
GOV_SENHA=your_senha

LOG_LEVEL=INFO